<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>habeshaview</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	    <key>NSAllowsArbitraryLoads</key>
	    <true/>
	    <key>NSExceptionDomains</key>
	    <dict>
	        <key>hahu.co.uk</key>
	        <dict>
	            <key>NSExceptionAllowsInsecureHTTPLoads</key>
	            <true/>
	            <!--Include to allow subdomains-->
	            <key>NSIncludesSubdomains</key>
	            <true/>
	            <!--Include to allow HTTP requests-->
			    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
			    <true/>
			    <!--Include to specify minimum TLS version-->
			    <key>NSTemporaryExceptionMinimumTLSVersion</key>
			    <string>TLSv1.1</string>
			    <key>NSAllowsArbitraryLoadsForMedia</key>
				<true/>
				<key>NSAllowsArbitraryLoadsInWebContent</key>
				<true/>
				<key>NSAllowsLocalNetworking</key>
				<true/>
	        </dict>
	    </dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs this permission for your profile picture upload</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need this permission for Date of birth select</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs this permission for capture your profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>This app have no need for this permission</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app have no need for this permission</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app have no need for this permission</string>
	<key>NSMotionUsageDescription</key>
	<string>This app have no need for this permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs this permission for your profile picture upload</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app have no need for this permission</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	
</dict>
</plist>
